.main_outer {
  margin: 30px;
  padding: 10px;
}
._add_games {
  width: 600px;
  min-height: 300px;
}
._add_games li {
  list-style: none;
  justify-content: space-between;
  padding: 10px;
  text-align: left;
}
.admin_space {
  margin-top: 30px;
  justify-content: space-between;
  background-color: white;
}
h4 {
  color: black;
}
