body {
  color: rgb(0, 0, 0);
  /* background-color: black; */
  /* border: 3px solid greenyellow; */
}
/* .admin_outer {
  background-image: url("../muhannad-ajjan-sL2BRR1cuvM-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100px;
} */
.main_outer {
  min-height: 1000px;
}
