* {
  margin: 0px;
  /* border: 1px solid black; */
}

.home_outer {
  /* background-image: url("../muhannad-ajjan-sL2BRR1cuvM-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* background-color: rgba(11, 24, 12, 0.562); */
  margin-top: 10px;
}
html {
  box-sizing: border-box;
}
.main_body {
  /* background-color: rgba(0, 0, 0, 0.253); */
  min-height: 1000px;
}

.footer_outer {
  margin-top: 30px;
}
.header_outer {
  position: fixed;
  margin: 20px;
  position: relative;
  box-sizing: border-box;
}
