* {
  margin: 0px;
  /* border: 1px solid white; */
  font-family: Roboto, sans-serif !important;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
body {
  height: 100%;
  background-color: #222;
}
body ::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
}
.main_body {
  min-height: 1000px;
  margin-top: 10px;
}

.footer_outer {
  margin-top: 30px;
}
.header_outer {
  position: fixed;
  margin: 20px;
  position: relative;
  box-sizing: border-box;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
@media all and (max-width: 360px) {
  .home_outer {
    min-height: 100px;
  }
}

/* .news-outer {
    display: none !important;
  }
  .header_outer {
    display: grid !important;
    grid-template-columns: auto !important;
    width: 100%;
  }
} */

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1e;
    color: #fefefe;
  }
  a {
    color: #5fa9ee;
  }
  img {
    filter: grayscale((20%));
  }
} */
