* {
  margin: 0px;
  /* border: 1px solid black; */
  font-family: Roboto, sans-serif !important;
}
body {
  height: 100%;
  background-color: #222;
}

html {
  box-sizing: border-box;
}
.main_body {
  min-height: 1000px;
  margin-top: 10px;
}

.footer_outer {
  margin-top: 30px;
}
.header_outer {
  position: fixed;
  margin: 20px;
  position: relative;
  box-sizing: border-box;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
@media all and (max-width: 300px) {
  .news-outer {
    display: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1c1e;
    color: #fefefe;
  }
  a {
    color: #5fa9ee;
  }
  img {
    filter: grayscale((20%));
  }
}
