.auth_a_outer {
  display: grid;
  grid-gap: 30px;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70px 500px;
}

.top_left {
  text-align: right;
}
.auth_button button {
  background-color: grey;
  border: none;
  height: 40px;
  width: 100px;
  cursor: pointer;
  border-radius: 2px;
  outline: 1px ridge black;
}
.btn_tmp {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.log_outer {
  display: grid;
  color: white;
  grid-template-columns: 30% 50%;
  grid-template-rows: 50px 50px 50px 50px;
  justify-content: space-around;
  height: 400px;
}
.span2 {
  grid-column: span 2;
}
.span3 {
  grid-row: span 2;
}
.log_outer {
  background-color: grey;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  justify-content: center;
  grid-gap: 1px;
}
.reg {
  outline: 5px ridge black;
  border-bottom-left-radius: 40px !important;
  border-top-left-radius: 40px !important;
  grid-template-rows: 50px 50px 50px 50px 50px !important	;
}
.log_inner {
  font-weight: 700;
  font-size: 1rem;
  justify-content: center;
  color: white;
}
.log_inner input {
  cursor: none;
  height: 30%;
  width: 100%;
  outline: 3px ridge black;
  font-weight: 800;
  background-color: rgba(128, 128, 128, 0.295);
  font-size: 1.2vw;
}
.log_inner input::placeholder {
  color: black;
  text-align: left;
  font-weight: 800;
}
.log_inner button {
  border: none;
  background-color: black;
  height: 30%;
  width: 30%;
  border-radius: 10px;
  outline: 2px ridge white;
}
