.outer-box-explorer {
  /* margin-bottom: 60px; */
  min-height: 200px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 1000;
  font-size: 1.6vw;
}
.card_outer_explorer {
  /* padding: 10px; */
  /* margin: 0 10px 10px 10px;
  margin-top: 10px !important; */
  display: flex;

  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
}
.cards_explorer:hover {
  transition: transform 0.5s ease-in-out;
  transform: scale(1.2);
}
.cards_explorer {
  margin: 20px;
  transition: transform 0.3s ease;
}

button {
  color: black !important;
}
.heading_log {
  margin-left: 40px;
  margin-bottom: 10px;
  font-size: 3vw;
}
