.outer-box-explorer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 1000;
  font-size: 1.6vw;
}
.card_outer_explorer {
  display: flex;
  height: 400px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.buy-btn {
  color: white;
}

.cards_explorer:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
.cards_explorer {
  margin: 20px;
  transition: transform 0.3s ease;
}

button {
  color: black !important;
}
.heading_log {
  margin: 21px 2px 2px 1px;
  font-size: 3vw;
}

.tempea {
  height: 300px;
  position: relative;
  width: 300px;
  margin: 20px;
}
.tempeb {
  height: 200px;
  padding: 1px;
}
.tempc {
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 130px 150px;
  grid-template-rows: 30px 30px;
  justify-content: space-between;
  text-align: left;
  grid-gap: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.tempd {
  grid-column: span 2;
}
.tempd {
  color: black;
  text-shadow: 0 0 3px #fdfdfd, 0 0 5px;
  font-weight: 600;
  font-size: 2rem;
}
.tempf {
  display: grid;

  grid-template-columns: 100% 100%;
}
.card_button {
  text-align: center;
  width: 100%;
  color: white;
}
.tempe {
  grid-column: span 2;
}
.card_button button {
  border-radius: 7px;
  height: 30px;
  width: 80px;
  font-weight: 500;
  background-color: black;
  color: white;
  border: none;
  background-color: grey !important;
  border: 1px solid black !important;
}
