.footer_elements_outer {
  text-align: left;
  font-size: 1.4vw;
  text-decoration: none;
  font-family: serif;
  background-color: black;

  display: flex;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  flex-direction: row;
  justify-content: space-between;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
.footer_elements_outer h3 {
  color: whitesmoke;
  margin: 12px;
  display: inline-block;
}
@media all and (max-width: 500px) {
  .footer_elements_outer {
    /* display: block; */
    width: 100%;
    font-size: 0.4rem;
  }
}
