.header_outer {
  display: flex;
  align-items: center;
  width: 95%;

  z-index: 1;
  padding: 0.1rem 1.5rem;
}

.header-outer {
  justify-items: center;
  justify-content: space-between;
}
.header_input {
  outline: 0 white;
}
.header_input {
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  font-weight: bolder;
  height: 40px;
  color: whitesmoke;
  font-size: 1.2rem;
  background-color: #444;
  border-radius: 10px;
}
.title_heading a {
  font-size: 2rem;
}
.search_box {
  flex-grow: 2;
}
.input-box {
  color: white;
  text-align: center;
  /* position: absolute; */
  width: 70%;
  margin: 0 auto;
}
.input_search {
  margin: -20px;
  position: relative;
}
.header_input {
  position: relative;
  width: 80%;
  padding: 0 30px;
  border: none;
  outline: none;
}
.result_search {
  position: absolute;
  margin: 20px;
}

.child_search {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 70% 30%;
  font-weight: 700;
}
.child {
  cursor: pointer;
  margin-bottom: 10px;
}
::placeholder {
  color: whitesmoke;
  font-style: italic;
  text-align: center;
}
.elementtop {
  margin-top: 0px;
}
.cart-of-header {
  margin: 0 10px;
}
.cartnos {
  color: white;
}
.cart-of-header:hover {
  cursor: pointer;
}
.login_btn {
  height: 40px;
  font-size: 1rem;
  width: 50px;
}

@media all and (max-width: 500px) {
  .title_heading a {
    font-size: 3rem;
  }
  .header_input {
    display: block;
    width: 100%;

    margin-top: 10px;
  }
  .input_search {
    width: 100% !important;
  }
  .child_search {
    display: flex !important;
    width: 300px !important;
  }
  .child_temp {
    position: absolute !important;
    right: 0;
    display: grid !important;
    grid-template-columns: 100px 100px !important;
    bottom: 0;
    width: 100%;
    font-weight: 600;

    font-size: 2rem;
  }
  .makeStyles-cover-1 {
    width: 100% !important;
  }
  .header_input {
    border: 3px solid black;
    margin-left: 0px;
  }
  .title_heading {
    display: block;
    text-align: center;
  }
  .header_outer {
    display: block;
    margin: 0px;
  }
  ._header_log_btn {
    display: none;
  }
  .cart-of-header {
    display: none;
  }
  .admin_butt {
    display: none !important;
  }
  .header_log_btn {
    display: none !important;
  }
  .card_outer_explorer {
    height: 250px !important;
  }
  .title_heading {
    display: block;
    width: 100%;
  }
  .login_button {
    display: none;
  }
  .input-box {
    margin: 0 auto;

    width: 80% !important;
  }
  .child {
    width: 100% !important;
    font-weight: 800;
    font-size: 1.6rem;
    padding: 10px;
    color: white;
    text-shadow: 1px 2px 3px black;
  }
  .child_elements {
    padding: 20px;
  }
  .makeStyles-cover-1 {
    border-radius: 10px !important;
    height: 50% !important;
    width: 100% !important;
  }
}
