.header_outer {
  display: flex;
  align-items: center;
  width: 100%;

  justify-content: space-evenly;
  z-index: 1;
  padding: 0.5rem 2.5rem;
}

/* .header2 {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
} */

.header-outer {
  justify-items: center;
  justify-content: space-around;
}
.header_input {
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  font-weight: bolder;
  height: 30px;

  font-size: 1.2rem;
  background-color: #444;
  border-radius: 10px;
}
.title_heading a {
  font-size: 2rem;
}
.search_box {
  flex-grow: 1;
}
.input-box {
  text-align: center;
}
.header_input {
  width: 400px;
}
::placeholder {
  color: whitesmoke;
  font-style: italic;
  text-align: center;
}
.elementtop {
  margin-top: 0px;
}
.cart-of-header {
  margin: 0 10px;
}
.cartnos {
  color: white;
}
.cart-of-header:hover {
  cursor: pointer;
}

@media all and (max-width: 500px) {
  .title_heading a {
    font-size: 3rem;
  }
  .header_input {
    display: block;
    width: 95%;

    margin-top: 20px;
  }
  .header_input {
    border: 3px solid black;
  }
  .title_heading {
    display: block;
    text-align: center;
  }
  .header_outer {
    display: block;
    margin: 0px;
  }
  ._header_log_btn {
    display: none;
  }
  .cart-of-header {
    display: none;
  }
}
