.title_heading a {
  color: rgb(80, 151, 233);
  margin: 0px;
  font-size: 3vw;
}

.header_outer {
  display: flex;
}
/* .header_input {
  height: 30px;
  width: 30rem;
  border-radius: 3px;
  border-color: rgb(80, 151, 233);
} */
.header_logger {
  color: rgb(80, 151, 233);
  font-size: 1.3rem;
  width: 100%;
  display: flex;
  margin: auto !important;
}
/* input {
  font-size: 1.3rem;
} */
::placeholder {
  color: black;

  font-size: 1.3vw;
  text-align: center;
}

.title_heading {
  font-style: italic;

  font-size: 2.6vw;

  font-weight: bolder;
  color: rgb(80, 151, 233);
}

.admin_butt ._headers_log_btn {
  display: flex;

  align-items: center;
}
.user_output_name {
  position: absolute;
  right: 200px;
  font-size: 1.4vw;
  text-align: center;
  padding-top: 10px;
}
.cart-of-header {
  width: 100px;
}
.cartnos {
  margin-left: 10px;
  font-size: 1vw;
  font-weight: bolder;
}
