.news-outer {
  min-height: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 1000;

  text-align: center;
  display: flex;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.news_outer p {
  font-size: 2vw;
  font-weight: bolder;
  text-align: center;
}
.Cursor {
  display: none !important;
}
.Typist {
  text-align: center;
}
