.outer-box {
  min-height: 300px;
  margin-bottom: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 1000;
  font-size: 1.6vw;
}
.heading_log {
  margin: 10px;
}
.cards_releases {
  margin: 20px;
  transition: transform 0.4s ease;
}

.cards_releases:hover {
  transition: transform 0.4s ease-in-out;
  transform: scale(1.2);
}
.card_outer_releases {
  justify-content: space-between;
  display: flex;

  overflow-y: hidden;
  overflow-x: scroll;
  padding: 30px;
}
