.outer-box {
  min-height: 300px;
  margin-bottom: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 1000;
  font-size: 1.6vw;
}
.heading_log {
  margin: 10px;
}
.cards {
  /* padding: 20px; */
  transition: transform 0.3s ease;
  margin: 18px;
}
.cards:hover {
  /* transition: transform 0.5s ease; */
  transform: scale(1.2);
}
.card_outer {
  display: flex;

  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
