.outer-box {
  width: 100%;

  font-weight: 1000;
  font-size: 1.6vw;
}

.cards_releases {
  margin: 10px;
  transition: transform 0.4s ease-out;
}

.cards_releases:hover {
  transition: transform 0.4s ease;
  transform: scale(1.1);
}
.card_outer_releases {
  display: flex;
  justify-content: space-around;
  padding: 0px;

  overflow-y: hidden;
  overflow-x: scroll;
}
.card_outer-releases::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media all and (max-width: 500px) {
  .MuiCardMedia-root {
    height: 200px !important;
  }
  .tempa {
    font-size: 0.6rem;
    height: 200px !important;
  }
  .card_button button {
    width: 100px !important;
  }
  .tempea {
    font-size: 0.6rem;
    height: 200px !important;
  }
}

.heading_log {
  font-size: 1.8rem !important;
  text-align: left;

  margin: 50px 0px 0px 10px !important;
}

*/ .who {
  display: grid !important;
  height: 400px;
  width: 300px;

  grid-template-columns: 100px 100px 100px;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-size: 300px 400px !important;
}
.whoab img {
  height: 100px;
}

.whoab {
  grid-column: span 3;
  grid-row: span 3;
}
.who2 {
  grid-column: span 3;
}
